<div class="dashboard-page container-fluid">
  <div class="row">
    <div class="col-lg-10 offset-lg-1 col-xs-12">
      <div class="section bg-selago">
        <div class="col-12 section-title">
          <h4>Институции</h4>
        </div>
        <div class="box col-lg-4 col-md-12">
          <mat-card color="primary" class="box-container">
            <mat-card-header class="bg-cornflower-blue">
              <mat-card-title>Card title</mat-card-title>
            </mat-card-header>
            <mat-card-content class="box-content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </mat-card-content>
            <mat-card-footer>50 Lessons (footer)</mat-card-footer>
          </mat-card>
        </div>
        <div class="box col-lg-4 col-md-12">
          <mat-card color="primary" class="box-container">
            <mat-card-header class="bg-cornflower-blue">
              <mat-card-title>Card title</mat-card-title>
            </mat-card-header>
            <mat-card-content class="box-content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </mat-card-content>
            <mat-card-footer>50 Lessons (footer)</mat-card-footer>
          </mat-card>
        </div>
        <div class="box col-lg-4 col-md-12">
          <mat-card color="primary" class="box-container">
            <mat-card-header class="bg-cornflower-blue">
              <mat-card-title>Card title</mat-card-title>
            </mat-card-header>
            <mat-card-content class="box-content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </mat-card-content>
            <mat-card-footer>50 Lessons (footer)</mat-card-footer>
          </mat-card>
        </div>

        <div class="btn-wrapper">
          <a mat-button class="with-icon link-accent mat-xsmall" routerLink="/portal/institutions"
            >Зареди всички <mat-icon>keyboard_arrow_right</mat-icon></a
          >
        </div>
      </div>
    </div>

    <div class="col-lg-10 offset-lg-1 col-xs-12">
      <div class="section bg-selago">
        <div class="col-12 section-title">
          <h4>Деца и ученици</h4>
        </div>
        <div class="box col-lg-4 col-md-12">
          <mat-card color="primary" class="box-container">
            <mat-card-header class="bg-cornflower-blue">
              <mat-card-title>Card title</mat-card-title>
            </mat-card-header>
            <mat-card-content class="box-content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </mat-card-content>
            <mat-card-footer>50 Lessons (footer)</mat-card-footer>
          </mat-card>
        </div>
        <div class="box col-lg-4 col-md-12">
          <mat-card color="primary" class="box-container">
            <mat-card-header class="bg-cornflower-blue">
              <mat-card-title>Card title</mat-card-title>
            </mat-card-header>
            <mat-card-content class="box-content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </mat-card-content>
            <mat-card-footer>50 Lessons (footer)</mat-card-footer>
          </mat-card>
        </div>
        <div class="box col-lg-4 col-md-12">
          <mat-card color="primary" class="box-container">
            <mat-card-header class="bg-cornflower-blue">
              <mat-card-title>Card title</mat-card-title>
            </mat-card-header>
            <mat-card-content class="box-content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </mat-card-content>
            <mat-card-footer>50 Lessons (footer)</mat-card-footer>
          </mat-card>
        </div>

        <div class="btn-wrapper">
          <a mat-button class="with-icon link-accent mat-xsmall" routerLink="/portal/students"
            >Зареди всички <mat-icon>keyboard_arrow_right</mat-icon></a
          >
        </div>
      </div>
    </div>

    <div class="col-lg-10 offset-lg-1 col-xs-12">
      <div class="section bg-selago">
        <div class="col-12 section-title">
          <h4>Дневници</h4>
        </div>
        <div class="box col-lg-4 col-md-12">
          <mat-card color="primary" class="box-container">
            <mat-card-header class="bg-cornflower-blue">
              <mat-card-title>Card title</mat-card-title>
            </mat-card-header>
            <mat-card-content class="box-content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </mat-card-content>
            <mat-card-footer>50 Lessons (footer)</mat-card-footer>
          </mat-card>
        </div>
        <div class="box col-lg-4 col-md-12">
          <mat-card color="primary" class="box-container">
            <mat-card-header class="bg-cornflower-blue">
              <mat-card-title>Card title</mat-card-title>
            </mat-card-header>
            <mat-card-content class="box-content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </mat-card-content>
            <mat-card-footer>50 Lessons (footer)</mat-card-footer>
          </mat-card>
        </div>
        <div class="box col-lg-4 col-md-12">
          <mat-card color="primary" class="box-container">
            <mat-card-header class="bg-cornflower-blue">
              <mat-card-title>Card title</mat-card-title>
            </mat-card-header>
            <mat-card-content class="box-content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </mat-card-content>
            <mat-card-footer>50 Lessons (footer)</mat-card-footer>
          </mat-card>
        </div>

        <div class="btn-wrapper">
          <a mat-button class="with-icon link-accent mat-xsmall" routerLink="/portal/school-books"
            >Зареди всички <mat-icon>keyboard_arrow_right</mat-icon></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
